name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup build environment
      uses: ./.github/actions/setup
    - name: Build LibreExpFix
      run: ./gradlew build
    - name: Move needed jar files
      shell: zsh
      run: mkdir jars && cp versions/*/build/libs/*-(fabric|forge|neoforge).jar jars/
    - name: Upload build folder
      uses: actions/upload-artifact@v3
      with:
        path: jars/*.jar
        if-no-files-found: error
        retention-days: 3