name: Release

on: [workflow_dispatch]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup
    - name: "Build"
      run: ./gradlew build --stacktrace
    - name: "Upload mod to CurseForge and Modrinth"
      run: ./gradlew publishMods --stacktrace
      env:
        CURSEFORGE: ${{ secrets.CURSEFORGE_API_KEY }}
        MODRINTH: ${{ secrets.MODRINTH_TOKEN }}